.blend {
    min-height: 40em;
    background-image: url("./images/bear.jpg"), url("./images/bear.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30vw, 30vw;
    background-blend-mode: color-burn;
}