/**
 * Fixed positioning lets you position an element relative to the viewport. This is called containing block.
 *
 * A fixed element is removed from the document flow. It no longer affect the positioning of other elements on the page. They'll follow the normal document flow as if it's not there, which means they'll often flow behind the fixed element, hidden from view. This is usually fine with a mdoal dialog because you want it to be front and center until user dismisses it.

 With something persitent, such as a side navigation menu, you'll need to take care that other content doesn't flow behind it. This is usually easiest to do by adding a margin to the content. For instance, palce all your content in a container with a right-margin: 20%. This margin will flow behind your fixed element, and the content won't overlap.
 **/
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200vh;
    margin: 0;
}

button {
    padding: 0.5em 0.7em;
    border: 1px solid #8d8d8d;
    background-color: #fff;
    font-size: 1em;
}

.top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

.top-banner-inner {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.modal {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: #fff;
    overflow: auto;
}

.modal-close {
    cursor: pointer;
}