/**
 * NOTE: Unlike fixed and absolute positioning, you cannot use top, right, bottom, and left
 * to change the size of a relatively positioned element. Those values will only shift the 
 * position of the element up or down, left or right. You can use top or bottom, but not both
 * together (bottom will be ignored); likewise, you can use left or right, but not both (right 
 * will be ignored).
 **/
 .container {
     width: 80%;
     max-width: 1000px;
     margin: 1em auto;
 }

 .dropdown {
     display: inline-block;
     position: relative;
 }

 .dropdown-label {
     padding: .5em 2em 0.5em 1.5em;
     border: 1px solid #ccc;
     background-color: #eee;
 }

 .dropdown-label::after {
     content: "";
     position: absolute;
     right: 1em;
     top: 1em;
     border: 0.4em solid;
     border-color: black transparent transparent;
 }

 .dropdown:hover .dropdown-label::after {
     top: 0.7em;
     border-color: transparent transparent black;
 }

 .dropdown-menu {
     display: none;
     position: absolute;
     left: 0;
     top: 2.1em;
     min-width: 100%;
     background-color: #eee;
 }

 .dropdown:hover .dropdown-menu {
     display: block;
 }

 .submenu {
     padding-left: 0;
     margin: 0;
     list-style-type: none;
     border: 1px solid #999;
 }

 .submenu > li + li {
     border-top: 1px solid #999;
 }

 .submenu > li > a {
     display: block;
     padding: .5em 1.5em;
     background-color: #eee;
     color: #369;
     text-decoration: none;
 }

 .submenu > li > a:hover {
     background-color: #fff;
 }

