:root {
    --main-font: Helvetica, Arial, sans-serif;
    --brand-color: #336699;
    --main-bg: #ffffff;
    --main-color: #000000;
}
p {
    font-family: var(--main-font, sans-serif);
    color: var(--brand-color, blue);
}

.panel {
    font-size: 1rem;
    padding: 1em;
    border: 1px solid #999999;
    border-radius: 0.5em;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.dark {
    margin-top: 2em;
    padding: 1em;
    background-color: #999999;
    --main-bg: #333333;
    --main-color: #ffffff;
}