body {
    font-size: 16px;
}
ul {
    font-size: .8em;
}
ul ul {
    font-size: 1em;
}
.padded {
    font-size: 16px;
    padding: 1em;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
}

div.box {
    background-color: white;
    margin: 12px;
}

.slogan {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: #cccccc;
}